/* подключаемые шрифты */
@font-face {
  font-family: Semibold;
  src: url(/fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: Regular;
  src: url(/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Bold;
  src: url(/fonts/OpenSans-Bold.ttf);
}
